<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= display_meta_tags site: 'Hyperspace Lab', reverse: true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>
  <body class="d-flex flex-column h-100">
    <main role="main" class="flex-shrink-0">
      <%= cell :navigation %>
      <div id="strip">
        <%= yield %>
      </div>
    </main>
    <%= cell :footer %>
  </body>
</html>
